$celeste: #46867D;
$naranja-claro: #ffbd59;
$naranja-oscuro: #FE6625;
$marron: #34322a;
$gris: #525252 ;
$gris-claro: #d9d9d9;

.containerAbout{
    display: flex;
    flex-direction: column;
    background-color: $gris-claro;
    border-top: 4px solid $gris-claro;
    .containerTitle{
        background-color: #fff59d;
        padding: 1rem 3rem;
        padding-top: 2rem;
        h2{
          font-size: 2rem;
          color:$gris;
        }
     }
     .containerContact{
         display: flex;
         margin: 4rem 0;
         align-self: center;
         div{
            margin: 0 3rem;
            filter: drop-shadow(2px 4px 6px black);
            &:hover{
                transform: scale(1.1);
            }
         }
     }
}