$celeste: #46867D;
$naranja-claro: #ffbd59;
$naranja-oscuro: #FE6625;
$marron: #34322a;
$gris: #525252 ;
$gris-claro: #d9d9d9;

$blanco: #fff;

.containerOne{
  display: grid;
  grid-template-columns: 40% auto;
  align-items: center;
  background-color: #d9d9d9;
  height: 30rem;
  .container_img{
      display: flex;
      justify-content: center;
      div{
        width: 20rem;
        height: 20rem;
        position: relative;
          .corner{
              border: 1px solid black;
              width: 20rem;
              height: 20rem;
              position: absolute;
              top:0;
              transform: rotate(45deg);
              z-index: 500;
             .cornerdiv{
                border: dotted;
                 width: 18rem;
                 height: 18rem;
                 margin: 15px;
             }
          }
          .img{
              width: 20rem;
              height: 20rem;
              position: relative;
              z-index: 1000;
              border-radius: 0 30%;
          }
      }
  }
  .containerName{
      align-items: center;
      flex-direction: column;
      margin: 3rem;
      h1{
          font-size: 5rem;
          text-align: right;
          color: #545454;
      }
      h3{
          font-size: 3rem;
          text-align: right;
          color: #fff;
      }
  }
}