@import "../../../styles/bp.scss";

$celeste: #46867D;
$naranja-claro: #ffbd59;
$naranja-oscuro: #FE6625;
$marron: #34322a;
$gris: #525252 ;
$gris-claro: #d9d9d9;

.containerProjects{
  display: flex;
  flex-direction: column;
  background-color: #222222;
  border-top: 4px solid #222222;
  .containerTitle{
      background-color: $naranja-oscuro;
      padding: 1rem 3rem;
      padding-top: 2rem;
      h2{
        font-size: 2rem;
        color: #222222;
      }
    }
      .containerCard{
          display: grid;
          grid-template-columns: 50% 50%;
          border-radius: 20px;
          margin: 4rem;
          background-color: #9e9e9e;
          box-shadow: 1px 3px 7px 0px black;
          .containerImg{    
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-self: center;
              justify-self: center;
              align-items: center;
              place-content: center;

              a{
                  text-align: center;        
                  img{
                      width: 100%;
                      border-radius: 20px 0 0 20px;
                  }
              }
          }
          .description{
              display: flex;
              height: 100%;
              width: 100%;
              flex-direction: column;
              justify-content: center;
              padding: 1.3rem;
              place-self: center;
              border-radius: 0 20px 20px 0;
              background-color: black;
              h2{
                  font-size: 2rem;
                  align-self: center;
                  color: $naranja-oscuro;
                  padding-bottom: 1.5rem;
              }
              p{
                  font-size: 1rem;
                  color: #bfbfbf;
                  padding-left: 1rem;
                  padding-top: 1rem;
                  font-weight: 500;
                  a{
                      text-decoration: none;
                      color: $naranja-oscuro;
                      font-weight: 700;
                  }
              }
          }
      }
}
@include respond-to("default"){
.containerProjects{
    .containerCard{
        display: grid;
        border-radius: 20px;
        grid-template-columns: 100%;
        grid-template-rows: 50vh 50vh;
        margin: 4rem 2rem 4rem 2rem;
        height: 80%;
        .containerImg{
            a{
                height: 100%;
                div{
                    height: 100%;
                    div{
                        height: 100%;
                        div{
                            height: 100%;
                            ul{
                                height: 100%;
                                li{
                                    div{
                                        height: 100%;
                                        img{
                                            height: 100%;
                                            object-fit: contain;
                                            border-radius: 20px 20px 0 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
        .description{
            padding: 0.3rem;
            border-radius: 0 0 20px 20px;
            h2{
                font-size: 1.5rem;
                padding: 0.5rem ;
                margin-top: 1rem;
            }
            p{
                font-size: 1rem;
                padding-left: 0.3rem;
                padding-top: 0;
            }
        }
    }

}
}