$azul-oscuro: #091848;
$azul-claro: #00315f;
$azul-celeste: #0981b6;
$rosa-oscuro: #ef8997;
$rosa-claro: #ffb8b8;
$blanco: #fff;

.containerAboutMe{
    display: flex;
    flex-direction: column;
    height: 13rem;
    div{
        margin: 1rem 3rem;
        h2{
            font-size: 2rem;
            color:#ffbd59;
        }
        p{
            font-size: 1.3rem;
            color:rgb(230, 230, 230);

        }
    }
}